#{extends 'bootstrap.html' /}
#{set title:'Texas Notary Search' /}

	#{set 'moreStyles'}
		<link rel="stylesheet" href="@{'/public/stylesheets/style.css'}">
		<link rel="stylesheet" href="@{'/public/stylesheets/jquery-ui-1.8.4.custom.css'}">
	#{/set}

	#{set 'moreScripts'}
		
		<script type="text/javascript" language="javascript">
			$(document).ready(function() 
			    { 
			     	$("#last").focus();
			        $("#resultsTable").tablesorter({widgets: ['zebra']}); 
			    } 
			);
		</script>
	#{/set}

	#{set 'title'}Texas Notary Search		
    #{/set}
	
	<small>  Source: Texas Secretary of State</small>
	
<p> </p>
	<div class="container">

			<form action="/search" method="post" class="well form-inline> 
				accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
				
			    #{field 'last'}
				<input id="last" type="text" name="${field.name}" class="input-medium" placeholder="Last Name" value="${params?.last}"/>
				 
				#{/field}
								
				#{field 'zip'}
	            <input id="zip" type="text" name="${field.name}" class="input-medium" placeholder="Zip Code" value="${params?.zip}"/> 
	    		#{/field}    							
				
				<div>
				<button type="submit" class="btn">Search</button>
				#{a @Application.index()} Clear #{/a}
				</div>
			</form>

		  *{ <img src="@{'/public/images/smtxoutline.jpg'}" alt="Powered by MongoDB" title="${message0}"> }* 

			#{if results}
			<div>
				<em>${message1}    	 ${message2} </em>

			    <table id="resultsTable" class="table"> 
			        <thead>
			            <tr>
			                <th>Last</th>
			                <th>First</th>
			                <th>Commission Expires</th>
			                <th>Address</th>
			            </tr>
			        </thead>
			        <tbody>
			            #{list results, as:'notary'}
                            <tr>
			                    <td title="${notary.identity}">${notary.last}</td>
			                    <td>${notary.first}</td>
			                    <td>${notary.expires}</td>
			                    <td title="${notary.mail}">${notary.city}, ${notary.state} ${notary.zip}</td>
			                </tr>
			            #{/list}
			        </tbody>
			    </table>
			</div>    
			#{/if}								
	</div><!-- container -->